* {
    margin: 5px 10px;
    padding: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
}

.links li {
    margin-left: 20px;

    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

/* hero section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 50px 80px; */
    background-color: #f9f9f9;
}

.hero-content {
    width: 582px;
    height: 270px;
    left: 120px;
    right: 738px;
    top: 285px;
    bottom: 2751px;
}

.hero-content h1 {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

.hero-content p {
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.btn {
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    padding: 10px 24px 10px 24px;
}

/* BRANDS */
.brands {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.378%, rgba(192, 204, 218, 0.1) 100%);
    margin-top: 20px;
}

.popular-collection {
    padding: 40px 80px;
    background: rgb(255, 255, 255);
}

.popular-collection h2 {
    text-align: center;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0px;
    margin-bottom: 30px;
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    border-radius: 5px;

    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    border-radius: 5px;
}

.product-card h3 {
    color: rgb(24, 25, 31);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;

}


/* featured */
.see-more {
    color: rgba(240, 0, 88, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    margin: 20pX 80px;
    margin-bottom: 30px;
}

.see-more a{
    text-decoration: none;
    color: rgba(240, 0, 88, 0.87);
}

.feature-text{
    display: flex;
    align-items: center;
}
.feature-text h2{
    color: rgb(10, 8, 38);
font-family: Poppins;
font-size: 38px;
font-weight: 700;
line-height: 60px;
letter-spacing: 0px;
text-align: left;
}

.feature-text p{
    color: rgb(108, 108, 108);
font-family: Poppins;
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-align: left;
}